body {
  text-align: center;
  font-family: 'Inter', sans-serif;
}
h1 {
    background-color: black;
    margin: -10px;
    padding: 30px;
    height: 30px;
    justify-content: center;
    color: white;
    justify-items: center;
}
ul {
    margin-right: 10px;
    margin-left: 10px;
}
footer {
    background-color: black;
    margin: -10px;
    padding: 30px;
    height: 30px;
    justify-content: center;
    color: white;
    justify-items: center;
}